.frequentLinks {
  display: flex;
  margin: 32px auto;
  max-width: 1000px;
  text-align: left;
}

.frequentLinks-nav-left, .frequentLinks-nav-right {
  display: inline-block;
  margin-top: 1.17rem;
  width: 20%;
}

.frequentLinks-nav-left a, .frequentLinks-nav-right a {
  display: block;
}

.frequentLinks-nav-left h5, .frequentLinks-nav-right h5 {
  margin-top: 0;
}

.frequentLinks-investing {
  box-sizing: border-box;
  display: inline-block;
  width: 60%;
  padding: 0 32px;
}
