header {
  background-color: #96151d;
  padding: 0 auto;
  text-align: left;
}

.header-links {
  margin: 0 auto;
  max-width: 1000px;
  padding: 8px 0;
}

.header-links a {
  color: #FFF;
  margin-right: 16px;
  text-decoration: none;
}

.header-links a:hover {
  text-decoration: none;
}
