a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #333;
}

.subtext {
  font-size: 12px;
}

.underline {
  text-decoration: underline;
}
